<div class="container">
  <h1><%= @post.title %></h1><br>
  <p><%= @post.body %></p><br>
  <p>Tags: 
    <% @post.tags.each do |tag| %>
      <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
    <% end %><br>
  </p>
  <p>
    <a href="/edit/<%= @post.id %>">Edit this post</a><br>
    <a href="/delete/<%= @post.id %>">Delete this post</a><br>
  </p>
  <p>
    <a href="/posts">Return to Posts</a><br>
    <a href="/">Return Home</a><br>
  </p>
</div>